<!DOCTYPE html
<html>
<head>
    <title>Example page</title>
</head>
    <body>
        <!-- This example index.html would define the container layout, and call the 
        component templates to populate them-->
        <div style="width: 100%; height: 100%;">
            {{ template "red" .}}
        </div>
        <div style="width: 100%; height: 100%;">
            {{ template "blue" . }}
        </div>
    </body>
</html>