{{ define "blue" }}
<svg width="100%" height="100%">
    <g>
        <rect fill="blue" x="0" y="0" width="10%" height="10%"/>
        <text dominant-baseline="middle" text-anchor="middle">1</text>
    </g>
</svg>
{{ end }}